@model Cards.Web.Models.RegisterViewModel
@{
    ViewBag.Title = Resource.Register;
}

<div class="container">
    <h2>@ViewBag.Title</h2>
</div>

<div class="container">
    <div class="all-info">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>@Resource.RegisterAsANew</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="@Resource.Register" />
                </div>
            </div>
        }
    </div>
</div>

<style type="text/css">
    .all-info {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
