@using Microsoft.Ajax.Utilities
@using FieldType = Cards.Web.Helpers.FieldType
@model Cards.Web.Models.ProfileViewModel

@{
    if (Model.Infos.Count() != 0)
    {
        ViewBag.Title = "Profile " + Model.Infos.First().User.Email;
    }
    else
    {
        ViewBag.Title = "Profile";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
</div>

<html>
<body>
    @if (ViewBag.CanManage)
    {
        <div class="container">
            <div class="checkbox">
                <label><input id="is-admin" type="checkbox" value=@ViewBag.IsAdmin>@Resource.Admin</label>
            </div>
            <div class="checkbox">
                <label><input id="lockout-enabled" type="checkbox" value=@ViewBag.LockoutEnabled>@Resource.IsBlocked</label>
            </div>
            <button class="btn btn-primary" id="save-status-btn">@Resource.Save</button>
        </div>
    }
    <div class="container">

        <table class="table table-bordered table-hover" id="table">
            <thead>
                <tr>
                    <th width="400">@Resource.Field</th>
                    <th width="200">@Resource.Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="infos">
                @if (Model.Infos.Count() != 0)
                {
                    foreach (var item in Model.Infos)
                    {
                        <tr id="info-@item.Id">
                            @if (item.Comment != null)
                            {
                                <td id="content-@item.Id" data-toggle="tooltip" title=@item.Comment>@item.Content</td>
                            }
                            else
                            {
                                <td id="content-@item.Id" data-toggle="tooltip" title=''>@item.Content</td>
                            }
                            <td value="@item.Type" id="type-@item.Id">@Enum.GetName(typeof(FieldType), item.Type)</td>
                            <td id="action-@item.Id">
                                <div class=" btn-group" role="group">
                                    <button class="btn btn-warning edt-btn" id="edt-btn-@item.Id">@Resource.Edit</button>
                                    <button class="btn btn-danger del-btn" id="del-btn-@item.Id">@Resource.Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    @Html.Label(Resource.ProfileIsEmpty, new { id = "empty" })
                }
            </tbody>
        </table>

        <div id="add-div" class="add-div">
        </div>

    </div>

    <link rel="stylesheet" href="~/Content/viewProfileStyle.css" type="text/css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function ($) {

            $(function () {
                $(document).tooltip({
                    track: true
                });
            });

            $(function () {
                var isAdmin = '@ViewBag.IsAdmin' == 'True' ? true : false;
                var lockoutEnabled = '@ViewBag.LockoutEnabled' == 'True' ? true : false;
                $('#is-admin').prop('checked', isAdmin);
                $('#lockout-enabled').prop('checked', lockoutEnabled);
            });


            $('body').on('click', '#save-status-btn', function () {
                var data = {
                    IsAdmin: $('#is-admin').prop('checked'),
                    LockoutEnabled: $('#lockout-enabled').prop('checked'),
                    Id: '@Model.UserId'
                };
                $.ajax({
                    type: 'POST',
                    url: '/Account/ManageStatus',
                    dataType: 'json',
                    data: data,
                    success: function (response) {
                        if (response == true)
                            alert('@Resource.SaveSuccessful');
                    }
                });
            });

            if ($('#infos tr').length == 0) {
                var empty = '@Html.Label(Resource.ProfileIsEmpty, new {id = "empty"})';
                $('#table').hide();
                $('#infos').append(empty);
            }

            self.CreateAddButton = function () {
                $('#add-div').html('<button class="btn btn-success" id="add-btn"><i class="glyphicon glyphicon-plus"></i> @Resource.AddNewInfo</button>');

                $('#add-btn').click(function () {
                    $('#add-div').html();
                    self.CreateAddInputs();
                });
            }

            self.CreateAddButton();

            self.CreateAddInputs = function () {
                var content = '<input class="form-control" id="newcontent" placeholder=@Resource.Field... />';
                var comment = '<input class="form-control" id="newcomment" placeholder=@Resource.Comment... />';
                var selector = '<select class="form-control" id="Type" name="Type" required>';
                @{
                    var i = 0;
                    foreach (var item in Enum.GetValues(typeof (FieldType)))
                    {
                        @:var option = ('<option value="@i">@item</option>');
                                                                                            @:selector = selector.concat(option);
                                                                                            i++;
                    }
                }
                selector.concat('</select>');
                var buttons = '<div class=" btn-group" role="group" id="actions">' +
                    '<button class="btn btn-primary edt-btn" id="savenew-btn">@Resource.Save</button>' +
                    '<button class="btn btn-danger cancel-btn" id="cancelnew-btn">@Resource.Cancel</button>' +
                    '</div>';

                var table = '<table class="table table-bordered"><tbody><tr><th>' + content + '</th><th>' + comment + '</th><th>' + selector + '</th><th>' + buttons + '</th></tr></tbody>';

                $('#add-div').html(table);

                $('#savenew-btn').click(function () {
                    var data = {
                        UserId: '@Model.UserId',
                        Content: $('#newcontent').val(),
                        Comment: $('#newcomment').val(),
                        Type: $('#Type').val()
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/Account/AddInfo',
                        dataType: 'json',
                        data: data,
                        success: function (response) {
                            if (response.Id != null) {
                                var id = response.Id;
                                var type = $('#Type option:selected').text();
                                var value = $('#Type option:selected').val();
                                var tr = '<tr id="info-' + id + '"><td id="content-' + id + '" data-toggle="tooltip" title=' + data.Comment + '>' + data.Content + '</td>' +
                                    '<td id="type-' + id + '" value=' + value + '>' + type + '</td>' +
                                    '<td id="action-' + id + '"><div class=" btn-group" role="group">' +
                                    '<button class="btn btn-warning edt-btn" id="edt-btn-' + id + '">@Resource.Edit</button>' +
                                    '<button class="btn btn-danger del-btn" id="del-btn-' + id + '">@Resource.Delete</button></div></td></tr>';
                                $('#infos').append(tr);
                                $('#table').show();
                                $('#empty').remove();
                                CreateAddButton();
                                alert(response.Message);
                            } else {
                                alert(response);
                            }
                        },
                        error: function () {
                            alert('error');
                        }
                    });
                });

                $('#cancelnew-btn').click(function () {
                    CreateAddButton();
                });
            }

            $('body').on('click', '.edt-btn', function () {
                var savedTr = $(this).parent().parent().parent();
                createEditRow(savedTr);
            });

            $('body').on('click', '.del-btn', function () {
                var tr = $(this).parent().parent().parent();
                var rowId = $(this).attr("id").replace('del-btn-', '');
                var data = {
                    Id: rowId
                }
                $.ajax({
                    type: 'POST',
                    url: '/Account/DeleteInfo',
                    dataType: 'json',
                    data: data,
                    success: function (response) {
                        if (response) {
                            tr.remove();
                            if ($('#infos tr').length == 0) {
                                var emptymsg = '@Html.Label(Resource.ProfileIsEmpty, new {id = "empty"})';
                                $('#table').hide();
                                $('#infos').append(emptymsg);
                            }
                        };
                    },
                    error: function () {
                        alert('');
                    }
                });
            });

            function createEditRow(tr) {
                var html = tr.html();

                var rowId = tr.attr("id").replace('info-', '');

                var content = $('#content-' + rowId).html();
                $('#content-' + rowId).html('<div class="edit-block-1"><input type="text" id="field-' + rowId + '" class="form-control" placeholder=@Resource.Field... value="' + content + '"/></div>' +
                    '<div class="edit-block-2"><input type="text" id="comment-' + rowId + '" class="form-control" placeholder=@Resource.Comment... value="' + $('#content-' + rowId).attr('title') + '"/></div>');

                @*var c = $('#content-' + rowId);
                c.append('<input type="text" id="comment-' + rowId + '" class="form-control" placeholder=@Resource.Comment... value="' + c.attr('title') + '"/>');*@

                $('#content-' + rowId).attr('title', '');


                var selector = '<select class="form-control" id="editType-' + rowId + '" name="editType" required>';
                @{
                    var j = 0;
                    foreach (var item in Enum.GetValues(typeof (FieldType)))
                    {
                        @:var option = ('<option value="@j">@item</option>');
                        @:selector = selector.concat(option);
                        j++;
                    }
                }
                selector.concat('</select>');

                var type = $('#type-' + rowId).attr("value");
                $('#type-' + rowId).html(selector);
                $('#editType-' + rowId).val(type);

                var actionTd = $('#action-' + rowId).html('');

                var saveBtn = $('<button type="button" class="btn btn-primary" id="save-' + rowId + '">@Resource.Save</button>').appendTo(actionTd);

                saveBtn.click(function() {

                    var data = {
                        Id: rowId,
                        Content: $('#field-' + rowId).val(),
                        Comment: $('#comment-' + rowId).val(),
                        Type: $('#editType-' + rowId).val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/Account/EditInfo',
                        dataType: 'json',
                        data: data,
                        success: function(response) {
                            if (response.Message != null) {
                                data.TypeText = $('#editType-' + rowId).children(':selected').text();
                                tr.html(createTrEditRow(data));
                                alert(response.Message);
                            } else {
                                alert(response);
                            }
                        }
                    });
                });

                var cancelBtn = $('<button type="button" class="btn btn-danger" id="cncl-' + rowId + '">@Resource.Cancel</button>').appendTo(actionTd);
                cancelBtn.click(function () {
                    tr.html(html);
                });
            };
            function createTrEditRow(obj) {
                var result = '';
                var comment = obj.Comment != null ? obj.Comment : '';

                result += '<td id="content-' + obj.Id + '" data-toggle="tooltip" title=' + comment + '>' + obj.Content + '</td>';
                result += '<td value=' + obj.Type + ' id="type-' + obj.Id + '">' + obj.TypeText + '</td>';
                result += '<td id="action-' + obj.Id + '"><div class=" btn-group" role="group"><button class="btn btn-warning edt-btn" id="edt-btn-' + obj.Id + '">@Resource.Edit</button>' +
                    '<button class="btn btn-danger del-btn" id="del-btn-' + obj.Id + '">@Resource.Delete</button></div></td>';
                return result;
            }
        });

    </script>

</body>
</html>