@using Cards.Web.Helpers
@model IEnumerable<Cards.Web.Models.Card>

@{
    ViewBag.Title = "Home Page";
}

@*<table>
        <thead>
            <tr>
                <th>CardId</th>
                <th>CardUserId</th>
                <th>CardTemplate</th>
                <th>CardName</th>
                <th>CardRating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    123
                </td>
                <td>
                    123
                </td>
                <td>
                    123
                </td>
                <td>
                    123
                </td>
                <td>
                    123
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>InfoId</th>
                <th>InfoType</th>
                <th>InfoContent</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@Enum.GetName(typeof(FieldType), item.Type)</td>
                        <td>@item.Content</td>
                    </tr>
                }
            }
            else
            {
                @Html.Label(Resource.ProfileIsEmpty, new { id = "empty" })
            }
        </tbody>
    </table>*@


@if (Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Template</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>CardInfoId</th>
                    <th>CardInfoInfoId</th>
                    <th>CardInfoPositionX</th>
                    <th>CardInfoPositionY</th>
                    <th>Content</th>
                    <th>Comment</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var ci in item.CardInfoes)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Template</td>
                        <td>@item.Name</td>
                        <td>@item.Rating</td>
                        <td>@ci.Id</td>
                        <td>@ci.InfoId</td>
                        <td>@ci.PositionX</td>
                        <td>@ci.PositionY</td>
                        <td>@ci.Info.Content</td>
                        <td>@ci.Info.Comment</td>
                        <td>@ci.Info.Type</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/cardsLogic/cardsHomeRating.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    //initCardsRating();
</script>