@using Cards.Web.Helpers
@model IQueryable<Cards.Web.Models.CardInfo>

@{
    ViewBag.Title = "Home Page";
}

@*<table>
        <thead>
            <tr>
                <th>CardId</th>
                <th>CardUserId</th>
                <th>CardTemplate</th>
                <th>CardName</th>
                <th>CardRating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    123
                </td>
                <td>
                    123
                </td>
                <td>
                    123
                </td>
                <td>
                    123
                </td>
                <td>
                    123
                </td>
            </tr>
        </tbody>
    </table>*@

@*<table>
        <thead>
            <tr>
                <th>InfoId</th>
                <th>InfoType</th>
                <th>InfoContent</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@Enum.GetName(typeof(FieldType), item.Type)</td>
                        <td>@item.Content</td>
                    </tr>
                }
            }
            else
            {
                @Html.Label(Resource.ProfileIsEmpty, new { id = "empty" })
            }
        </tbody>
    </table>*@

@*<table>
        <thead>
            <tr>
                <th>CardInfoId</th>
                <th>CardInfoCardId</th>
                <th>CardInfoInfoId</th>
                <th>CardInfoPositionX</th>
                <th>CardInfoPositionY</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.CardId</td>
                        <td>@item.InfoId</td>
                        <td>@item.PositionX</td>
                        <td>@item.PositionY</td>
                    </tr>
                }
            }
            else
            {
                @Html.Label(Resource.ProfileIsEmpty, new { id = "empty" })
            }
        </tbody>
    </table>*@

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/cardsLogic/cardsHomeRating.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    //initCardsRating();
</script>