<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CardMe</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/menu-style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-static">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("CardMe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resource.Home, "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(Resource.ManageCards, "ManageCards", "Card")</li>
                    }
                    <li>@Html.ActionLink(Resource.About, "About", "Home")</li>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar2 navbar-static">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @* Language switcher *@
                        <div class="onoffswitch">
                            @if (Session["culture"] == null || Session["culture"].Equals("ru-RU"))
                            {
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="langonoffswitch" onclick="setCookie()">
                            }
                            else
                            {
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="langonoffswitch" onclick="setCookie()" checked>
                            }
                            <label class="onoffswitch-label" for="langonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </li>
                    <li>
                        @* Style switcher *@
                        <div class="onoffswitch">
                            @if (Session["theme"] == null || Session["theme"].Equals("white"))
                            {
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="styleonoffswitch" onclick="setTheme()">
                            }
                            else
                            {
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="styleonoffswitch" onclick="setTheme()" checked>
                            }
                            <label class="onoffswitch-label" for="styleonoffswitch">
                                <span class="onoffswitch-inner2"></span>
                                <span class="onoffswitch-switch2"></span>
                            </label>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li>
                        @* Search form *@
                        <form class="form-inline" style="margin-top: 3px;">
                            <input type="text" class="form-control pull-left" placeholder="Search">
                            <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="container-footer">
        <hr />
        <p>&copy; @DateTime.Now.Year - Laptenok | Tsetsersky ASP.NET Application</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)


    @if (Session["theme"] == null || Session["theme"].Equals("white"))
    {
        <style type="text/css">
            body {
                color: #676767;
                background-color: #efefef;
            }

            .navbar {
                background-color: #444;
            }

            .navbar2 {
                background-color: #777;
            }
        </style>
    }
    else
    {
        <style type="text/css">
            body {
                color: #D8D8D8;
                background-color: #3D3D3D;
            }

            .navbar {
                background-color: #222;
            }

            .navbar2 {
                background-color: #444;
            }
        </style>
    }

    <script src="~/Scripts/cookie_logic.js" type="text/javascript" charset="utf-8"></script>
    @if (Session["culture"] == null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                initLanguage();
            });
        </script>
    }
</body>
</html>
